.Qjeu {
    margin-left: 200px;
    width: 850px;
    height: 50px;
}

.Qjeu label {
    margin-left: 200px;
    font-size: 17px;
    font-weight: bold;
    margin-top: 15px;
}

.Qjeu input {
    width: 50px;
}

.Qjeu button {
    background-color: var(--fav-color);
    border-radius: 4px;
    border: none;
    font-weight: bold;
}

.listeQ {
    margin-left: 250px;
    width: 700px;
    height: 265px;
}

table {
    width: 670px;
    height: 200px;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .Qjeu {
        margin-left: 30px;
    }
    .listeQ {
        margin-left: 30px;
    }
}

@media (max-width: 767px) {
    .Qjeu {
        margin-left: 0px;
        width: 410px;
    }
    .Qjeu label {
        margin-left: 10px;
    }
    .listeQ {
        margin-left: 0px;
        width: 300px;
    }
    table {
        width: 280px;
        height: 200px;
    }
}