    .pagineA {
        width: 500px;
        height: 270px;
        margin-left: 350px;
    }
    
    .btnPage {
        width: 900px;
        height: 45px;
        margin-left: 150px;
    }
    
    .pagination {
        display: inline-block;
        margin-left: 300px;
    }
    
    .pagination a {
        color: (var--writting-color);
        float: left;
        padding: 8px 16px;
        text-decoration: none;
    }
    
    .pagination a.active {
        background-color: #4CAF50;
        color: white;
        border-radius: 5px;
    }
    
    .pagination a:hover:not(.active) {
        background-color: #ddd;
        border-radius: 5px;
    }
    
    table {
        width: 500px;
        height: 200px;
    }
    
    @media (min-width: 768px) and (max-width: 1024px) {
        table {
            margin-left: -100px;
        }
    }
    
    @media (max-width: 767px) {
        table {
            width: 300px;
            height: 200px;
            margin-left: -347px;
        }
        .btnPage {
            width: 300px;
            margin-left: 0px;
        }
        .pagination {
            margin-left: 70px;
        }
    }