    .oublie_p {
        padding-left: 500px;
        margin-bottom: 0px;
        padding-bottom: 20px;
        position: relative;
    }
    
    form select {
        width: 250px;
        height: 40px;
        margin-top: 4px;
        border-style: solid;
        border-width: 1px;
        border-radius: 5px;
        border-top: 0px;
        border-left: 0px;
        border-color: var(--fav-color);
    }
    
    #n {
        color: red;
        margin-top: -30px;
        margin-left: 50px;
    }
    
    #pf {
        color: red;
        margin-top: -30px;
        margin-left: 60px;
    }
    
    .oublie_p small {
        border-color: var(--error-color);
        visibility: hidden;
    }
    
    .oublie_p.error small {
        visibility: visible;
    }
    
    .oublie_p label {
        font-size: 20px;
    }
    
    .oublie_p input:focus {
        border-radius: 4px;
        width: 300px;
        height: 40px;
        outline: 0;
        border-color: var(--fav-color);
    }
    
    form button {
        border: none;
        background-color: var(--fav-color);
        border-radius: 4px;
        width: 100px;
        height: 30px;
        color: var(--writting-color);
        margin-left: 550px;
    }
    /*Pour tablet(iPad Pro)*/
    
    @media (min-width: 768px) and (max-width: 1024px) {}
    /*Pour phone (iPhone X)*/
    
    @media (max-width: 767px) {
        .oublie_p {
            padding-left: 0px;
        }
        form button {
            margin-left: 20px;
        }
    }