body{
    padding: 0px;
    margin: 0px;
    position: relative;
    margin-top: -20px;
    font-family: 'Titillium Web', sans-serif;
   }
   footer{
       height: 575px;
       width: 1000px;
       margin: 0 auto;
       display: flex;
       background: linear-gradient(rgba(7, 68, 70, 0.7), rgb(7, 68, 70, 0.7)),url(../image/img-bg.jpg);
       background-size: cover;
       background-repeat: no-repeat;
   }
 
   #form{
    width: 900px;
    margin: 0 auto;
    height: 575px;
    border-radius: 10px;
   background-color: whitesmoke;
   }
   #conteneur{
       display: flex;
       margin: 0 auto;
       width: 1000px;
       background-color: rgb(43, 42, 42);
   }
   #zoneG{
       background-image: url(../image/logo-QuizzSA.png);
       background-repeat: no-repeat;
       width: 150px;
       height: 110px;
       background-size: 67px;
   }
   #myimage1{
    
    margin-top: 7px;
}
   #zoneD{
    font-family: 'Titillium Web', sans-serif;
       height: 110px;
       width : 850px; 
       text-align: center;
       line-height:90px; /* centrage vertical */
       text-align:center; /* centrage horizontal */
    color: white;
    margin-left: -47px;
   }
b{
    font-family: 'Titillium Web', sans-serif;
    font-size: 25px;
}
#input1j{
    font-family: 'Titillium Web', sans-serif;
    width: 600px;
    height: 40px;
margin-left: 8px;
margin-top: 0px;
border-radius: 5px;
background-color: white;
}
#pwd{
    font-family: 'Titillium Web', sans-serif;
    width: 600px;
    height: 40px;
margin-left: 8px;
margin-top: 0px;
border-radius: 5px;
background-color: white;
}
#pwd1{
    font-family: 'Titillium Web', sans-serif;
    width: 600px;
    height: 40px;
margin-left: 8px;
margin-top: 0px;
border-radius: 5px;
background-color: white;
}
#bouton1{
    font-family: 'Titillium Web', sans-serif;
    width: 150px;
    height: 40px;
    float: right;
    margin-right: 40px;
/*margin-left: 810px;*/
margin-top: 8px;
border-radius: 5px;
background-color: rgb(64, 175, 179);

}
h4{
    text-align: center;
    line-height:15px; /* centrage vertical */
    font-family: 'Titillium Web', sans-serif;
    margin-top: 10px;
    color: mintcream;
   }
   #bouton2{
    width: 150px;
    height: 40px;
    font-family: 'Titillium Web', sans-serif;
margin-left: 230px;
margin-top: 20px;
border-radius: 5px;
background-color: rgb(64, 175, 179);

}

   h5{
    text-align: center;
    line-height:15px; /* centrage vertical */
    font-size: 15px;
    margin-top: 10px;
    color: white;
    font-family: 'Titillium Web', sans-serif;
   }
   #GH{
    width:630px ;
    height: 90px; 
    margin-top: 15px;
    font-size: 17px;
    border-bottom: 2px solid;
    border-top: 0px ;
    border-left: 0px ;
    border-right: 0px ;
    border-color: rgb(114, 111, 111);
    opacity:1;
    border-style: solid; 
    }
    
    #GM{
    width: 650px;
    height:407px ;
    
    }
    
    #GM1{
        width: 650px;
        height:67.8px ;
        
        }
        #GM2{
            width: 650px;
            height:67.8px ;
         
            }
            #GM3{
                width: 650px;
                height:67.8px ;
               
                }
                #GM4{
                    width: 650px;
                    height:67.8px ;
                   
                    }
                    #GM5{
                        width: 650px;
                        height:67.8px ;
                     
                        }
                        .GM6{
                            width: 650px;
                            height:67.8px ;
                          
                            display: inline-block;
                            position: relative;
                            overflow: hidden;
                            }

                            .GM6 input[type=file] {
                                left: 0;
                                top: 0;
                                opacity: 0;
                                font-family: 'Titillium Web', sans-serif;
                                position: absolute;
                                font-size: 40px;
                              }
                              
                              .btn-upload {
                                  float: right;
                                  font-family: 'Titillium Web', sans-serif;
                                  margin-right: 38px;
                                background-color: rgb(64, 175, 179);
                               margin-top: 4px;
                                color: rgb(235, 230, 230);
                                padding: 10px 25px;
                                border-radius: 5px;
                                font-size: 15px;
                                font-weight: bold;
                              }
    #GB{
    width: 650px;
    height: 80px;
  
    }
    h6{
        font-size: 17px;
        font-family: 'Titillium Web', sans-serif;
        margin-left: 70px;
        float: right;
        margin-top: -0px;
        margin-right: 50px;

    }
    #gauche{
        width: 650px;
        height: 577px ;
        margin-top: -15px;
    }
    #droite{
        width: 250px;
        height:577px ;
        float: right;
        margin-top: -577px;
    
    }
#avatar{
    float: right;
    margin-right: 20px;
    
}

  #top{
      border-radius:50%;
  width:230px;
  height:230px;
  border:2px solid #0fe4d2; 
  
        margin-top: 20px;
        margin-left: 10px;
        
        background-repeat: no-repeat;
        background-size: 230px;
    }


   